{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link href="{% static 'css/styles.css' %}" rel='stylesheet'>
</head>
<body>
    <nav style='display: flex; justify-content: center; background-color: aqua;'>
        <a href='#' style='margin: 20px; text-decoration: none'>Yooooo</a>
        <a href='#' style='margin: 20px; text-decoration: none'>Yooooo</a>
        <a href='#' style='margin: 20px; text-decoration: none'>Yooooo</a>
    </nav>
    <div class='span' style="height: 1400px; width: 1751px;">
    </div>
</body>
</html>


