{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div style="background-color: navy ; color: white; padding: 5px;">
            <h1 style="margin: 15px 0px 15px 0px; display: flex; justify-content: center;" >Hi {{ request.user.first_name }}!</h1>
        </div>
    {% endif %}
    <div id="carouselExampleSlidesOnly" class="carousel slide carousell" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="position: relative;">
                <img src="../static/images/red-shoes.jpg" style="filter:brightness(0.6)" class="d-block w-100" alt="...">
                <div style="position: absolute; top: 30px; left: 30px;">
                    <h1 style="font-weight: 900; color: white;">Shop</h1>
                    <h4 style="font-weight: 200; color: white;">a variety of shoes, colorways, and styles all for you</h4>
                    <a href="{% url 'oyeda:products' %}" style="margin-top: 10px;" class='btn btn-light'>Shop Now</a>
                </div>
            </div>
            <div class="carousel-item" style="position: relative;">
                <img src="../static/images/newshoes.jpg" style="filter:brightness(0.5)" class="d-block w-100" alt="...">
                <div style="position: absolute; top: 30px; right: 30px;">
                    <h1 style="font-weight: 900; color: white;">Brands</h1>
                    <h4 style="font-weight: 200; color: white;">a plethora of popular and trending brands</h4>
                    <a href="{% url 'oyeda:which-brand' %}" style="margin-top: 10px;" class='btn btn-danger'>See Brands</a>
                </div>            </div>
            <div class="carousel-item" style="position: relative;">
                <img src="../static/images/white-bonjaskis.jpg" style="filter:brightness(0.5)" class="d-block w-100" alt="...">
                <div style="position: absolute; top: 30px; left: 30px;">
                    <h1 style="font-weight: 900; color: white;">New Arrivals</h1>
                    <h4 style="font-weight: 200; color: white;">a constantly evolving collective of merchandise</h4>
                    <a href="{% url 'oyeda:new_arrivals' %}" style="margin-top: 10px;" class='btn btn-warning'>Search Latest</a>
                </div>
            </div>               
        </div>
    </div>
    <div style="font-weight: 600; font-size: 30px; text-align: center; color: white; background-color: black;">
        <div class="slight-description" style="padding: 40px;">oyedaEcom is the perfect destination for all the latest sneaker apparel; located in Carson, CA</div>
    </div>

    <div style="text-align: center; color: white; width: 100%; background-color: rgb(194, 189, 189);">
        <div class="latest-additions" style="padding-top: 55px; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 800;">Latest Additions</div>
        <p class="latest-additions-para" style="font-size: 30px; padding-top: 40px; margin: 0px 10px 0px 10px;">Check out some of our newest shoes, just added to the collection</p>
        <div class="latest-additions-visuals" style="text-align: center; margin-left: 10%; margin-right: 10%; margin-top: 20px; overflow-x: auto; display: flex; height: 250px; width: 80%;">
            <a href="{% url 'oyeda:individual-product' slug='trae-young-1' %}" alt="Adidas Trae Young 1">
                <img src="{% static 'images/trae-young-1.png' %}" class="new-shoes-collection" />
            </a>
            <a href="{% url 'oyeda:individual-product' slug='sk8-hi-bolt' %}" alt="Vans Sk8 Hi Bolt">
                <img src="{% static 'images/sk8-hi-bolt.png' %}" class="new-shoes-collection" />
            </a>
            <a href="{% url 'oyeda:individual-product' slug='suede-rhuigi' %}" alt="Puma Suede Rhuigi">
                <img src="{% static 'images/puma-suede-rhuigi.png' %}" class="new-shoes-collection" />
            </a>
            <a href="{% url 'oyeda:individual-product' slug='classic-suede-xxi' %}" alt="Puma Classic Suede XXI">
                <img src="{% static 'images/puma-classic-suede-xxi.png' %}" class="new-shoes-collection" />
            </a>
            <a href="{% url 'oyeda:individual-product' slug='air-more-uptempo' %}" alt="Nike More Uptempo">
                <img src="{% static 'images/nike-tempo-iphigh.png' %}" class="new-shoes-collection" />
            </a>
            <a href="{% url 'oyeda:individual-product' slug='air-force-1' %}" alt="Nike Air Force 1 '07">
                <img src="{% static 'images/nike-airforce-1-07-usable.png' %}" class="new-shoes-collection" />
            </a>
            <a href="{% url 'oyeda:individual-product' slug='air-max-plus' %}" alt="Nike Air Max Plus">
                <img src="{% static 'images/nike-air-max-plus.png' %}" class="new-shoes-collection" />
            </a>
            <a href="{% url 'oyeda:individual-product' slug='nb-327' %}" alt="New Balance 327">
                <img src="{% static 'images/new-balance-327.png' %}" class="new-shoes-collection" />
            </a>
        </div>
    </div>
        
    <div style="height: 500px; width: 100%; background-color: pink; text-align: center; display: flex; justify-content: center; align-items: center;">
        <video width="600" height="400" controls autoplay loop>
            <source src="{% static 'images/people_standing.mp4' %}" type="video/mp4">
        </video>
    </div>

    <div class="brands">
        <a href="{% url 'oyeda:brand-selection' slug='nike' %}" class="brand-box-items">
            <img src="{% static 'images/nike-logo.jpeg' %}" class="brand-brands" alt="Nike" />
        </a>
        <a href="{% url 'oyeda:brand-selection' slug='adidas' %}" class="brand-box-items">
            <img src="{% static 'images/adidas-logo.jpeg' %}" class="brand-brands" alt="Adidas" />
        </a>
        <a href="{% url 'oyeda:brand-selection' slug='new-balance' %}" class="brand-box-items">
            <img src="{% static 'images/new-balance-logo.png' %}" class="brand-brands" alt="New Balance" />
        </a>
    </div>
    <div class="brand5">
        <a href="{% url 'oyeda:brand-selection' slug='puma' %}" class="brand-box-items">
            <img src="{% static 'images/puma-logo.jpeg' %}"  class="brand-brand5" alt="Puma" />
        </a>
        <a href="{% url 'oyeda:brand-selection' slug='vans' %}" class="brand-box-items">
            <img src="{% static 'images/vans-logo.jpeg' %}" class="brand-brand5" alt="Vans" />
        </a>
        <a href="{% url 'oyeda:brand-selection' slug='converse' %}" class="brand-box-items">
            <img src="{% static 'images/converse-logo.png' %}" class="brand-brand5" alt="Converse" />
        </a>
    </div>
    <div class="premiere-item-block">
        <div class="premiere-item">
            <!-- <img class="premiere-item-1" src="{% static 'images/new-balance-premiere-item-1.png' %}" />
            <img class="premiere-item-2" src="{% static 'images/nb-premiere-blue.png' %}" /> -->
            <a href="{% url 'oyeda:individual-product' slug='new-balance-574-classic' %}">
                <img class="premiere-item-3" src="{% static 'images/nb-premiere-red.png' %}" />
            </a>
        </div>
        <div class="single-product-description" style="float: right;">
            <h2>New Balance</h2>
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 800;">574 Classic</h1>
            <h3 style="margin-top: 10px;">$69.99</h3>            
            <h5 style="margin: 0px 25px 15px 25px;">
                Now known as the 574 Classic, that’s exactly what it is: one of the most 
                classic pieces of footwear to ever hit the pavement. The beloved sneaker 
                is available in a wide variety of color options from the iconic grey and 
                navy colorways to more trendy color combinations.
            </h5>    
            <a href="{% url 'oyeda:individual-product' slug='new-balance-574-classic' %}"style="margin-top: 20px;" class="btn btn-primary">Check out product</a>
            <!-- <div style="height: 50%; width: 100%; color: black; margin-top: 20px;"></div> -->
        </div>  
    </div>
        
        <!-- <div style="background-color: rgb(167, 17, 17); display: flex; justify-content: center; height: 100%;">
            <div class="premiere-item" style="display: inline-block; overflow-y: auto; overflow-x: hidden; height: 750px; margin-top: 15px; margin-left: 10%; margin-right: 30px; width: 45%; padding-top: 10px;">
                <div style="margin: 50px 10px 0px 0px; height: 400px; width: 80%; background-color: white;"></div>
                <div style="margin: 0px 10px 0px 0px; height: 400px; width: 80%; background-color: black;"></div>
                <div style="margin: 0px 10px 0px 0px; height: 400px; width: 80%; background-color: blue; margin-top: 30px;"></div>
            </div>
            <div class="single-product-description" style="display: inline-block; margin-top: 70px; width: 50%; margin-right: 10%;">
                <h3>Brand</h3>
                <h1>Shoe name</h1>
                <h4>Price</h4>
                <button style="margin-top: 20px; width: 50%;"class="btn btn-primary">Add to Cart</button>
                <div style="height: 50%; width: 100%; background-color: black; margin-top: 20px;"></div>
                <h5 style=" margin-top: 30px; padding-top: 30px;">Description</h5>    
            </div>  
        </div> -->
    <div style="background-color: navy; margin-top: -10px;">
        <div class="premiere-block">
            <div class="premiere-brand">
                <div style="margin-top: 30px; padding-top: 30px;">
                    <h1 style="margin-top: 75px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 800;">Puma</h1>
                    <h5 style="margin-top: 10px;">
                        Puma is one of the world’s leading sports brands, designing, developing, 
                        selling and marketing footwear, apparel and accessories. For 70 years, Puma 
                        has relentlessly pushed sport and culture forward by creating fast products 
                        for the world’s fastest athletes. Puma offers performance and sport-ins: 
                        white lifestyle products in categories such as football, running, 
                        basketball, golf, and motorsports.
                    </h5>
                    <a href="{% url 'oyeda:brand-selection' slug='puma' %}" style="margin: 10px;" class="btn btn-warning">Check out Puma products</a>
                </div>
            </div>
            <div class='premiere-brand-image-container'>
                <img class='premiere-brand-image' src="{% static 'images/izzy-puma.jpeg' %}" />
            </div>
        </div>
    </div>
    <div class="triple-box-item-link">
        <div class="triple tripleboxitem1" style="position: relative;">
            <img src="{% static 'images/shop-2.jpg' %}" class="triple-box-item-1" />
            <a href="{% url 'oyeda:products' %}">
                <div style="position: absolute; height: 100%; top: 0; left: 0; display: flex; justify-content: center; align-items: center; width: 100%; font-weight: 900; color: white; font-size: 30px;">Shop</div>
            </a>
            </div>
        <div class="triple tripleboxitem2" style="position: relative; ">
            <img src="{% static 'images/newarrivals.png' %}" class="triple-box-item-2"/>
            <a href="{% url 'oyeda:new_arrivals' %}">
                <div style="position: absolute; height: 100%; top: 0; left: 0; display: flex; justify-content: center; align-items: center; width: 100%; font-weight: 900; color: white; font-size: 30px;">New Arrivals</div>
            </a>
            </div>
        <div class="triple tripleboxitem3" style="position: relative;">
            <img src="{% static 'images/brands-2.jpg' %}" class="triple-box-item-3" />
            <a href="{% url 'oyeda:products' %}">
                <div style="position: absolute; height: 100%; top: 0; left: 0; display: flex; justify-content: center; align-items: center; width: 100%; font-weight: 900; color: white; font-size: 30px;">Brands</div>
            </a>
            </div>
    </div>
    <div class='website-tags'>
        <p style="background-color: white; color: black; font-weight: 900; width: 100%; font-size: 50px; padding: 30px; text-align: center;">@oyedaEcom #oyedaEcom</p>
        <!-- <p style="color: black; font-size: 50px; margin-left: 30px;"></p> -->
    </div>
        
    <div class="soc-med-pics-set">
        <div class="socmedpics" style="position: relative;">        
            <img src="{% static 'images/calvin-klein-holdup.jpeg' %}" class="soc-med-pics" />
            <a href="https://www.instagram.com/davidoyeyem1/" target="_blank" rel="noopener noreferrer">
                <div class="overlay" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;">
                    <i style="font-size: 30px; height: 100%; width: 100%; color: white; display: flex; justify-content: center; align-items: center;" class="insta-icon fab fa-instagram"></i>
            </div>
            </a>
        </div>
        <div class="socmedpics" style="position: relative;">
            <img src="{% static 'images/model-type.jpeg' %}" class="soc-med-pics" />
            <a href="https://www.instagram.com/davidoyeyem1/" target="_blank" rel="noopener noreferrer">
                <div class="overlay" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;">
                    <i style="font-size: 30px; height: 100%; width: 100%; color: white; display: flex; justify-content: center; align-items: center;" class="insta-icon fab fa-instagram"></i>
            </div>
            </a>
        </div>
        <div class="socmedpics" style="position: relative;">
            <img src="{% static 'images/cute-girl.jpg' %}" class="soc-med-pics" />
            <a href="https://www.instagram.com/davidoyeyem1/" target="_blank" rel="noopener noreferrer">
                <div class="overlay" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;">
                    <i style="font-size: 30px; height: 100%; width: 100%; color: white; display: flex; justify-content: center; align-items: center;" class="insta-icon fab fa-instagram"></i>
            </div>
            </a>
        </div>
        <div class="socmedpics" style="position: relative;">
            <img src="{% static 'images/lupe.jpg' %}" class="soc-med-pics" />
            <a href="https://www.instagram.com/davidoyeyem1/" target="_blank" rel="noopener noreferrer">
                <div class="overlay" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;">
                    <i style="font-size: 30px; height: 100%; width: 100%; color: white; display: flex; justify-content: center; align-items: center;" class="insta-icon fab fa-instagram"></i>
            </div>
            </a>
        </div>
        <div class="socmedpics" style="position: relative;">
            <img src="{% static 'images/hella-shoes.jpg' %}" class="soc-med-pics" />
            <a href="https://www.instagram.com/davidoyeyem1/" target="_blank" rel="noopener noreferrer">
                <div class="overlay" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;">
                    <i style="font-size: 30px; height: 100%; width: 100%; color: white; display: flex; justify-content: center; align-items: center;" class="insta-icon fab fa-instagram"></i>
            </div>
            </a>
        </div>
    </div>
    
    <div style="margin: 20px; text-align: center;">
        <h2>Join Us</h2>
        <p style="margin: 25px 15px 20px 15px;">
            We will let you know when we have new arrivals, events and promo's don't worry we send them infrequently, just a friendly hi now and again!
        </p>
        <form method="POST">
            {% csrf_token %}
            <label class="custom-field">
                {{ form.subscriberEmail }}
                <button type="submit" style="height: 66px; margin-top: -8px;" class="btn btn-warning">Go!</button>
            </label>
        </form>
    </div>
    <div style="text-align: center; display: flex; justify-content: center;">
        <div>
            <a style="color: black;" href="https://www.instagram.com/davidoyeyem1/" target="_blank" rel="noopener noreferrer">
                <i style="font-size: 50px; margin: 15px;" style="color: navy;" class="insta-footer fab fa-instagram"></i>
            </a>
        </div>
        <div>
            <a style="color: black;" href="https://github.com/daoyeyemi" target="_blank" rel="noopener noreferrer">
                <i style="font-size: 50px; margin: 15px;" class="github-footer fab fa-github"></i>
            </a>
        </div>
    </div>
    <div>
        <div style="display: flex; width: 100%; justify-content: center">
            <p style="font-size: 12px; margin: 10px;">Contact</p>
            <p style="font-size: 12px; margin: 10px;">FAQ</p>
            <p style="font-size: 12px; margin: 10px;">Shipping</p>
            <p style="font-size: 12px; margin: 10px;">Returns</p>
            <p style="font-size: 12px; margin: 10px;">Terms of Use</p>
            <p style="font-size: 12px; margin: 10px;">Privacy Policy</p>
        </div>
        <p style="font-size: 12px; text-align: center; margin-top: 10px;">© 2021 oyedaEcom</p> 
    </div>
{% endblock %}
            <!-- </div> -->
    
    

    <!-- Create a container with items
    Rotate the container 90 degrees counterclockwise so the top is to the right
    Rotate the items back to correct-side up -->
