{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center; padding: 10px; margin: 20px 0px 20px 0px;">login</h1>
    <div style="display: flex; justify-content: center;">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="login-inputs" style="text-align: center; width: 450px;">
                <div class="email-login-input" style="text-align: center;">
                    <label class="custom-field">
                        <input style="width: 450px;" name='login-username' type="text" required />
                        <span class="placeholdr">username</span>
                    </label>
                </div>
                <div class="password-login-input" style="text-align: center;">
                    <label class="custom-field">
                        <input style="width: 450px;" name='login-password' type="password" required />
                        <span class="placeholdr">password</span>
                    </label>
                </div>
                <div style="text-align: center;">
                    <input style="width: 450px; height: 68px; margin-top: 20px;" class="btn btn-danger" type="submit" value="login">
                </div>
                <div style="margin-top: 20px; height: 50px; width: 450px; text-align: center;">
                    <p style="text-align: left;">don't have an account?<a style="color: red; font-weight: 900;" href="{% url 'oyeda:signup' %}"> create account here</a></p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <div style="margin: 120px 20px 20px 20px; text-align: center;">
        <h2>join us</h2>
        <p style="margin: 25px 15px 20px 15px">
            we will let you know when we have new arrivals, events and promo's don't worry we send them infrequently, just a friendly hi now and again!
        </p>
        <label class="custom-field">
            <input type="text" required />
            <span class="placeholdr">enter email here</span>
            <!-- <button type="submit" style="border-radius: 2px; height: 48px; width: 48px; position: absolute; top: 10; bottom: 0; right: 0;"> -->
                <i style="color: navy; font-size: 17px; position: absolute; top: calc(50% + 2px); right: 15px;" class="fas fa-arrow-right"></i>
            <!-- </button> -->
        </label>
    </div>
    <div style="text-align: center; display: flex; justify-content: center;">
        <div>
            <i style="font-size: 50px; margin: 15px;" class="fab fa-instagram"></i>
        </div>
        <div>
            <i style="font-size: 50px; margin: 15px;" class="fab fa-github"></i>
        </div>
    </div>
    <div>
        <div style="display: flex; width: 100%; justify-content: center">
            <p style="font-size: 12px; margin: 10px;">Contact</p>
            <p style="font-size: 12px; margin: 10px;">FAQ</p>
            <p style="font-size: 12px; margin: 10px;">Shipping</p>
            <p style="font-size: 12px; margin: 10px;">Returns</p>
            <p style="font-size: 12px; margin: 10px;">Terms of Use</p>
            <p style="font-size: 12px; margin: 10px;">Privacy Policy</p>
        </div>
        <p style="font-size: 12px; text-align: center; margin-top: 10px;">© 2021 oyedaEcom</p> 
    </div>
{% endblock %}
    