{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center; padding: 15px; margin: 15px; font-size: 50px;">Order Summary</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Shoe Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Item Price</th>
            </tr>
        </thead>
    {% for order in order.items.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ order.item.name }}</td>
            <td>{{ order.item.price }}</td>
            <td>
                <div style="display: flex; justify-content: center;">
                    <a href="#" class="btn btn-secondary">-</a>
                        <div style="width: 60px; padding: 10px 0px 10px 0px; text-align: center;">{{ order.quantity }}</div> 
                    <a href="#" class="btn btn-danger">+</a>
                </div>
            </td>
            <td>{{ order.generate_total_price_for_item }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}



{% block footer %}

{% endblock %}