{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="" style="background-color: red; height: 300px; width: 100%; margin-bottom: 40px; color: white; text-align: center;">
        <h1 style="padding-top: 120px;">S h o e s</h1>
    </div>

    <div class=>
        <div style="width: 550px; margin: auto; text-align: center;">
            {% for brand in brands %}
                <!-- <div style='margin: 10px 25px 10px 25px; display: inline-block;'>     -->
                    <a href='{{ brand.get_brand_url }}' class='btn btn-{{ brand.btn_type }}' style='padding: 10px; min-width: 200px; margin: 10px 15px 10px 15px;'>{{ brand.name }}</a>
                <!-- </div> -->
            {% endfor %}
        </div>  
    </div>
      
        
    <!-- <div style="display: flex; justify-content: center; margin: 0px 3.125% 0px 3.125%"> -->
    <div class='product-set-outline'>
        {% for shoe in shoes %}
            <div class="product-outline">
                <img src="{% static 'images/nike-kyrie-7.png' %}" class='product-image' style="width: 100%;" />
                <div style="width: 100%; text-align: center; margin-top: 10px;">
                    <a href='{{ shoe.get_absolute_url }}'><p style="margin: 2px; color: red;">{{ shoe.name }}</p></a>
                    <p style="margin: 2px;">{{ shoe.brand }}</p>
                    <p style="margin: 2px;">${{ shoe.price|floatformat:2 }}</p>
                    {% if shoe.new_arrival %}
                        <div style="color: navy">new</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}

{% endblock %}