{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; position: relative;">
        <img class="" src="{% static 'images/hellashoes-2.jpeg' %}" style="width: 100%; height: 100%; filter: brightness(0.3);" />
        <div style="position: absolute; top: -20px; height: 100%; color: white; font-size: 80px; display: flex; align-items: center; justify-content: center;">
            S e a r c h
        </div>
    </div>
    <!-- <h1 style="text-align: center; margin: 50px;">Search</h1> -->
    
    <h2 style="margin: 30px auto 30px auto; text-align: center;">Search product names below</h2>
    <h4 style="text-align: center; margin: 50px;">For example, type in 'Nike' to find Nike products</h4>

    <div style="display: flex; justify-content: center;">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input name="searchForm" type="search" style="width: 375px;" class="form-control" placeholder="Search for products here..." aria-label="Recipient's username" aria-describedby="button-addon2" required />
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                    <i class="fas fa-search"></i>
                </button>
              </div>
        </form>
    </div>

    <div style="margin: 50px; text-align: center;">
        {% if shoes %}
            <p style="text-align: center;">Click on item button to go to the product's individual view page.</p>
            {% for shoe in shoes %}
                <div style="display: flex; justify-content: center; ">
                    <a class="btn btn-danger" style="font-weight: 900; margin: 7px auto 7px auto;" href="{% url 'oyeda:individual-product' shoe.slug %}">{{ shoe.name }}</a>
                </div>
            {% endfor %}
        {% else %}
                <div style="display: flex; justify-content: center;">
                    <p>No products found at the moment.</p>
                </div>
        {% endif %}
    </div>
    
    
    
{% endblock %}

{% block footer %}

{% endblock %}