{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center; padding: 10px; margin: 20px 0px 20px 0px;">create account</h1>
<div style="display: flex; justify-content: center;">
    <div class="login-inputs" style="text-align: center; width: 450px;">
        <form method='POST' action=''>
            {% csrf_token %}
            <div class="email-login-input" style="text-align: center;">
                <label class="custom-field">
                    {{ form.first_name }}
                    <span class="email-login">first name</span>
                </label>
            </div>
            <div class="email-login-input" style="text-align: center;">
                <label class="custom-field">
                    {{ form.last_name }}
                    <span class="email-login">last name</span>
                </label>
            </div>
            <div class="email-login-input" style="text-align: center;">
                <label class="custom-field">
                    {{ form.username }}
                    <span class="email-login">username</span>
                </label>
            </div>
            <div class="email-login-input" style="text-align: center;">
                <label class="custom-field">
                    {{ form.email }}
                    <span class="email-login">email</span>
                </label>
            </div>
            <div class="password-login-input" style="text-align: center;">
                <label class="custom-field">
                    {{ form.password1 }}
                    <span class="email-login">enter password</span>
                </label>
            </div>
            <div class="password-login-input" style="text-align: center;">
                <label class="custom-field">
                    {{ form.password2 }}
                    <span class="email-login">verify password</span>
                </label>
            </div>
            <div style="text-align: center;" class="mt-3 mb-3">
                <input style="width: 250px; height: 68px; margin-top: 5px;" class="btn btn-warning" type="submit" name="create-user" value="sign up">
            </div>
        </form>
        {{ form.errors }}
        <div style="margin-top: 20px; height: 50px; width: 450px; text-align: center;">
            <p style="text-align: left;">already have an account?<a href='{% url "oyeda:login" %}'> sign in here</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <div style="margin: 120px 20px 20px 20px; text-align: center;">
        <h2>join us</h2>
        <p style="margin: 25px 15px 20px 15px">
            we will let you know when we have new arrivals, events and promo's don't worry we send them infrequently, just a friendly hi now and again!
        </p>
        <label class="custom-field">
            <input type="text" required />
            <span class="placeholdr">enter email here</span>
            <!-- <button type="submit" style="border-radius: 2px; height: 48px; width: 48px; position: absolute; top: 10; bottom: 0; right: 0;"> -->
                <i style="color: navy; font-size: 17px; position: absolute; top: calc(50% + 2px); right: 15px;" class="fas fa-arrow-right"></i>
            <!-- </button> -->
        </label>
    </div>
    <div style="text-align: center; display: flex; justify-content: center;">
        <div>
            <i style="font-size: 50px; margin: 15px;" class="fab fa-instagram"></i>
        </div>
        <div>
            <i style="font-size: 50px; margin: 15px;" class="fab fa-github"></i>
        </div>
    </div>
    <div>
        <div style="display: flex; width: 100%; justify-content: center">
            <p style="font-size: 12px; margin: 10px;">Contact</p>
            <p style="font-size: 12px; margin: 10px;">FAQ</p>
            <p style="font-size: 12px; margin: 10px;">Shipping</p>
            <p style="font-size: 12px; margin: 10px;">Returns</p>
            <p style="font-size: 12px; margin: 10px;">Terms of Use</p>
            <p style="font-size: 12px; margin: 10px;">Privacy Policy</p>
        </div>
        <p style="font-size: 12px; text-align: center; margin-top: 10px;">© 2021 oyedaEcom</p> 
    </div>
    {% endblock %}
